.container {
  width: 500px;
  height: 300px;
  border: 3px solid black;
}
.box {
  width: 100px;
  height: 100px;
  background-color: red;
  transition: 0.25s;
  animation-name: moveX; /*실행할 애니메이션을 지정한다.*/
  animation-duration: 0.25s; /*애니메이션이 몇초에 걸쳐서 실행될 시간을 지정한다.*/
  animation-iteration-count: infinite; /*애니매이션 반복 횟수를 지정한다.*/
  animation-duration: normal; /*애니메이션 방향을 지정한다*/
  animation-fill-mode: both; /*애니메이션 프레임 유지 여부*/
  animation-delay: 1s;
  /* 애니메이션 재생 여부를 지정한다. */
  /* animation-play-state: paused; */
}
.box.active {
  width: 200px;
  /* 애니메이션 재생 여부를 지정한다. */
  /* animation-play-state: paused; */
}
.btnChat {
  width: 50px;
  height: 60px;
  border: 3px solid black;
  border-radius: 50%;

  position: fixed;
  bottom: 100px;
  right: 50px;
  animation: slideUp 0.5s reverse;
}
@keyframes moveX {
  0% {
    background-color: black;
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(80px);
  }
}

@keyframes slideUp {
  /* 초기값 세팅이 필요 없는 경우 from 생략가능 */
  from {
    transform: translateY(50px);
  }
}
